ENVIRONMENT=development
## API URLs
APP_SECRET=28a63fee8243a6542c2a1c5ec6eefa0d
APP_SECRET_REFRESH=e08845c2339292294f5050a7595b83d9
APP_API_URL=http://localhost:3333
FORGOT_MAIL_URL=http://localhost:3000/password/reset?token=

## TOKENS
TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=30d

## AWS Credentials
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1

## Providers
## DATE - dayjs
DATE_PROVIDER=dayjs
## MAIL - ethereal | ses
MAIL_PROVIDER=ethereal
## STORAGE - local | s3
STORAGE_PROVIDER=local
## PAYMENT - mercadopago
PAYMENT_PROVIDER=mercadopago

## REDIS
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

## MERCADO PAGO
PUBLIC_KEY=TEST-122378c6-97dd-491a-bcae-ce01e511c84e
ACCESS_TOKEN=TEST-5093322683706325-112014-03a5527ae55f6c2493b1f9147a0d9eb8-209176539
PUBLIC_KEY=
ACCESS_TOKEN=
CLIENT_ID=
CLIENT_SECRET=

## FRONT
DEFAULT_URL=http://localhost:3000
PAYMENT_PROVIDER_URL=http://localhost:3000