<div style="width: 100vw; max-width: 1000px; font-size: 18px; font-family: Arial, Helvetica, sans-serif; background-color: white; color: #1e2f50;">
  <span style="margin: 10px 0; display: block;">Olá, {{name}}</span>
  {{#if hasMailDescription}}
    <span style="margin: 10px 0; display: block;">{{mailDescription}}</span>
  {{else}}
    <span style="margin: 10px 0; display: block;">Gostaríamos de informar que os administradores identificaram que a aula "{{title}}" pode não ser adequada ao seu nível atual.</span>
    <span style="margin: 10px 0; display: block;">Com o objetivo de garantir que você sempre desfrute da melhor experiência de aprendizado possível, tomamos a decisão de cancelar sua inscrição para esta aula específica.</span>
  {{/if}}
  <span style="margin: 10px 0; display: block;">No entanto, queremos assegurar que você não precise se preocupar. Seus créditos foram devidamente reembolsados, e nossa equipe está à disposição para esclarecer quaisquer dúvidas que possam surgir.</span>
  <span style="margin: 10px 0; display: block;">Agradecemos pela sua compreensão e permanecemos à disposição para auxiliá-lo em seu percurso educacional.</span>
  <br />
</div>