<div style="width: 100vw; max-width: 1000px; font-size: 18px; font-family: Arial, Helvetica, sans-serif; background-color: white; color: #1e2f50;">
  <span style="margin: 10px 0; display: block;">O aluno {{user.name}} ({{user.email}}) está com a seguinte dúvida:</span>

  <span style="margin: 10px 0; display: block;">{{{description}}}</span>
  <br />
</div>