<div style="width: 100vw; max-width: 1000px; font-size: 18px; font-family: Arial, Helvetica, sans-serif; background-color: white; color: #1e2f50;">
  <span style="margin: 10px 0; display: block;">Oi, {{name}}</span>

  <br>

  <span style="margin: 10px 0; display: block;">Você foi cadastrado(a) na plataforma PrAktikA, da Wunderwelt-A.</span>
  <span style="margin: 10px 0; display: block;">Para acessá-la, utilize o usuário e senha abaixo.</span>
  
  <br>
  
  <span style="margin: 10px 0; display: block;">Usuário: <strong>{{username}}</strong></span>
  <span style="margin: 10px 0; display: block;">Senha: <strong>{{password}}</strong></span>
  <span style="margin: 10px 0; display: block;"><a href='https://praktika.wunderwelt-a.com.br'>Clique aqui</a> e acesse a plataforma.</span>

  <br>
</div>