<div style="width: 100vw; max-width: 1000px; font-size: 18px; font-family: Arial, Helvetica, sans-serif; background-color: white; color: #1e2f50;">
  <span style="margin: 10px 0; display: block;">Olá, {{name}}</span>

  <span style="margin: 10px 0; display: block;">
    {{#if plural}}
        Foram removidos {{credit}} créditos do seu saldo.
    {{else}}
        Foi removido {{credit}} do seu saldo.
    {{/if}}
    <br />
    Esta ação foi realizada pela equipe administrativa da PrAktikA. <br />
    Para maiores informações fique a vontade para entrar em contato conosco por meio do nosso e-mail praktika@wunderwelt-a.com.br 
  </span>
</div>