<strong>
  Liebe KursteilnehmerInnen
</strong>
<p />

{{#if hasPromotion}}
  <div style="padding: 10px; background-color: #f7f7f7; border-left: 5px solid #00aeff;">
    <strong>
      {{message}}
    </strong>
  </div>
  <p />
  {{#with coupon}}
    <div style="display: flex; justify-content: center; align-items: center; width: 200px; height: 40px; margin: 0 auto; border-radius: 5px; background-color: #4f92dd; font-weight: bold; font-size: 1.2rem; color: white;">
      {{code}}
    </div>
    <p />
  {{/with}}
{{/if}}

<div style="width: 100vw; text-align: center;">Sua Newsletter Semanal da PrAktikA está aqui!</div>
<br />
<span>Confira abaixo a lista de aulas de temas lançadas nesta semana.</span>
<span>As aulas de Estudo Livre e Privatstunde podem ser consultadas diretamente na PrAktikA.</span>
<p />