<!DOCTYPE html>
<html>
  <head>
    <style>
      .container {
        width: 100vw;
        max-width: 1000px;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
      }
      
      a {
        text-decoration: none;
        font-weight: bold;
      }

      span {
        margin: 10px 0;
        display: block;
      }

      .noReply {
        font-size: 14px;
        color: #687173;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <span>Olá, {{name}}</span>

      <br />

      <text>Gostaríamos de lembrá-lo(a) que o período de reembolso no cancelamento da aula "{{title}}" está próximo de acabar.</text>
      <br />
      <text>Caso tenha que realizar o cancelamento, é melhor correr para garantir o reembolso dos créditos.</text>

      <br />
      <br />

      <strong>Atenciosamente,</strong>

      <p>Equipe | <strong>PrAktikA - Wunderwelt-A</strong></p>

      <p class="noReply">
        Não responda a esta mensagem. Este e-mail foi enviado por um sistema automático que não processa respostas.
      </p>
    </div>
  </body>
</html>