<!DOCTYPE html>
<html>
  <head>
    <style>
      .container {
        width: 100vw;
        max-width: 1000px;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        background-color: white;
        color: #1e2f50;
      }
      
      a {
        text-decoration: none;
        font-weight: bold;
      }

      .contentSpan {
        margin: 10px 0;
        display: block;
      }

      .noReply {
        font-size: 14px;
        color: #687173;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <span class="contentSpan">Olá, {{name}}</span>

      <br />

      <text>Gostaríamos de lembrá-lo(a) que o período de reembolso relativo ao cancelamento da aula "{{title}}" que ocorrerá no dia {{eventDate}} está próximo de acabar.</text>
      <p />
      <text>Caso precise realizar o cancelamento, <strong>ACESSE A PLATAFORMA DA PRAKTIKA E CANCELE A AULA</strong>, assim você garantirá seus créditos de volta.</text>
      <br />
      <text><strong>Reforçamos que o período para cancelamento com reembolso é em até {{refundTimeLimit}} horas antes do início da aula.</strong></text>

      <br />
      <br />

      <strong>Atenciosamente,</strong>

      <p>Equipe | <strong>PrAktikA - Wunderwelt-A</strong></p>

      <p class="noReply">
        Não responda a esta mensagem. <strong>Este e-mail é uma mensagem automática e não garante o cancelamento da aula</strong>.
      </p>
    </div>
  </body>
</html>