<div style="width: 100vw; max-width: 1000px; font-size: 18px; font-family: Arial, Helvetica, sans-serif; background-color: white; color: #1e2f50;">
  <span style="margin: 10px 0; display: block;">Olá, {{name}}</span>

  <br />

  <span style="margin: 10px 0; display: block;">E-mail apenas para verificar se houve o recebimento</span>
  
  <br />
</div>