<div style="width: 100vw; max-width: 1000px; font-size: 18px; font-family: Arial, Helvetica, sans-serif; background-color: white; color: #1e2f50;">
  <span style="margin: 10px 0; display: block;">Olá, {{name}}</span>

  <br />

  <span style="margin: 10px 0; display: block;">Foi aberta uma vaga para a aula "{{title}}", que acontecerá no dia {{day}}.</span>
  <span style="margin: 10px 0; display: block;">Corra e garanta a sua inscrição!</span>

  <br />

  <span style="margin: 10px 0; display: block;"><a href='https://praktika.wunderwelt-a.com.br/classes-list' style="text-decoration: none; font-weight: bold; color: #1e2f50;">Clique aqui</a> para acessar a plataforma e se inscrever.</span>

  <br />
</div>